h1{
    color: brown;
}

#cart-icon{
    
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    width: 45px; 
    height: auto;
    margin-right: 5px; 
}
#cart-total{
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #707070;
    color: aliceblue;
    left: 1400px;
    border-radius: 50%;
    width: 30px;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    
  }

  .flex-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .flex-item h6{
    margin-top: 5px;
    border-bottom: 1px solid black;
  }

.btn1{
    margin-bottom: 10px;
}

.box-img{
    height: 300px;
    width: 250px;
    background-size: cover;
    background-color: aliceblue;
    
}
.container1 {
    /* max-width: 490px; */
    width: 95%;
    margin: 2rem auto 0 auto;

    /* border-radius: 10px; */
    /* border: 2px solid #7b8ab8; */

}
.tablewidth{
   width: 100%;
}
.mar-top{
    margin-top: 10px;
}
.box-element{
    display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:0.5px solid black ;
}
.box-row{
    display: flex;
    align-items: flex-stretc;
    border-bottom: 0.5px solid black;
  
}

.quantity{
    display: inline-block;
}
.chg-quantity{
    width: 12px;
    display: block;
    cursor: pointer;
    margin-top: 5px;
    transition: 1s;
}
.row-img{
    width: 90px;
    margin-bottom: 10px;
}

.container0{
   display: flex;
    column-gap: 20px;
    padding: 10px;

}
.box-1{ 
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
   
}

.form{
    padding: 10px;
}

.form .input-box{
    margin-top: 10px;
    width: 100%;
    color: #707070;
}

.form .input-box input, .select-box{
    position: relative;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    color: #707070;
}

.form .column {
    display: flex;
    column-gap: 20px;
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color:  rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    font-size: 1rem;
    color: #707070;  
}

.hidden{
    display: none!important;
}

.box-2{
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}
.box-3 {
    height: 40px;
    width: 100%;
    background-color:white;
    
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
    color: #707070; 
}

.box-3 p{
    font-size: 1rem;
    margin-top: 0;
    text-align: center;

  
}

