{% extends 'sub/base.html' %}

{% load static %}

{% block content%}
<body>
   

<div class="shop-section ">
    <div class="box1 box"> 
        <div class="box-content">  
            <div >
                <img class="box-img"src="{% static 'images/dress.avif'%}" alt="Image Description">
            </div>
            <h5>Product</h5>
            <a class="btn btn-outline-secondary btn1" href="#">Add to cart</a>
            <a class="btn btn-outline-success  btn1" href="#">View</a>
            <span class="btn btn-outline btn1"> <i class="fa fa-inr" aria-hidden="true"></i><b>250</b></span> 
        </div>
    </div>
    <div class="box1 box"> 
        <div class="box-content">  
            <div >
                <img class="box-img"src="{% static 'images/dress.avif'%}" alt="Image Description">
            </div>
            <h5>Product</h5>
            <a class="btn btn-outline-secondary btn1" href="#">Add to cart</a>
            <a class="btn btn-outline-success  btn1" href="#">View</a>
            <span class="btn btn-outline btn1"> <i class="fa fa-inr" aria-hidden="true"></i><b>250</b></span> 
        </div>
    </div>
    <div class="box1 box"> 
        <div class="box-content">  
            <div >
                <img class="box-img"src="{% static 'images/dress.avif'%}" alt="Image Description">
            </div>
            <h5>Product</h5>
            <a class="btn btn-outline-secondary btn1" href="#">Add to cart</a>
            <a class="btn btn btn-outline-success  btn1" href="#">View</a>
            <span class="btn btn-outline btn1"> <i class="fa fa-inr" aria-hidden="true"></i><b>250</b></span> 
        </div>
    </div>
    <div class="box1 box"> 
        <div class="box-content">  
            <div >
                <img class="box-img"src="{% static 'images/dress.avif'%}" alt="Image Description">
            </div>
            <h5>Product</h5>
            <a class="btn btn-outline-secondary btn1" href="#">Add to cart</a>
            <a class="btn btn btn-outline-success btn1" href="#">View</a>
            <span class="btn btn-outline btn1"> <i class="fa fa-inr" aria-hidden="true"></i><b>250</b></span> 
        </div>
    </div>
    




</div>



</body>
{% endblock %}