{% extends 'sub/base.html' %}

{% load static %}

{% block content%}
<body>

    <div class="flex-container ">
        {% for product in products %}
        <div class="flex-item">

            <div >
                <img class="box-img"src="{{product.imageURL}}"alt="Image Description">
            </div>

            <h6 >{{product.name}}</h6>
        
            <a class="btn btn-outline-secondary btn1 update-cart " data-product={{product.id}} data-action="add" href="#">
                Add to cart</a>
            
            <a class="btn btn-outline-success  btn1" href="#">View</a>
            
            <span class="btn btn-outline btn1"> <i class="fa fa-inr" aria-hidden="true"></i><b>{{product.price|floatformat:2}}</b></span> 
      
        </div>  
        {% endfor %}     
    </div>
   
</body>
{% endblock %}